@import "tailwindcss";

@theme {
  --color-forest: #1B3022;
  --color-earth: #4E3B31;
  --color-stone: #F9F7F2;
  --color-gold: #D4AF37;
  --font-inter: "Inter", sans-serif;
}

:root {
  font-family: var(--font-inter);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-forest);
  background-color: var(--color-stone);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
